DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me-super-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

POSTGRES_DB=automation
POSTGRES_USER=automation
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
MINIO_ROOT_PASSWORD=change-me-minio-password
